/* shared styles */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.primary-text {
    font-size: 0.8em;
}
.section-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 800;
}

/* nav styles */
.nav-title, .footer-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-title img {
    width: 40px;
    height: 30px;
}
.nav-title span, .footer-title span {
    color: #ff42a5;
}
.nav-content ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    
}
.nav-content li {
    color: #3C354F;
    font-size: 1em;
    font-weight: 500;
}
.nav-content a {
    text-decoration: none;
}
.list-with-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;

}
.list-with-logo img {
    height: 20px;
}
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
/* main section styles */
.banner-title {
    width: 100px;
    height: 300px;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 80px;
    
}

.banner-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 800;
    
}
.banner-btn {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
}
.banner-btn .btn-1, .gamer-btn {
    border-radius: 48px;
    background: #FF42A5;
    border: none;
    padding: 21px 30px;
    color: #FFF;
    font-size: 0.8em;
    font-weight: 400;
}
.banner-btn .btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    padding: 21px 30px;
    color: #FFF;
    font-size: 0.8em;
    font-weight: 400;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-right: 100px;
    
    
}
.banner img {
    height: 400px;
}
/* we are gamer section */
.we-are-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-right: 80px;
    padding-left: 80px;
    text-align: right;
}
.we-are-gamer h5, h4 {
    margin-top: 5px;
    margin-bottom: 2px;
}
/* online game section */

.online-game-section {
    margin-top: 80px;
}
.online-title-container{
    text-align: center;
    
}
.online-title-container h3 {
    font-size: 30px;
    font-weight: 800px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}
.hover-icon {
    display: none;
    text-align: center;
    position: absolute;
    bottom: 200px;
    left: 110px;
}

.card:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.1s ease-in-out ;
    cursor: pointer;
    
}
.card:hover .hover-icon {
    display: block;

}
.hover-icon p {
    color: red;
    font-weight: 700;
    border: 1px solid red;
}

/* play section */
.play-title-container h3 {
    font-weight: 800px;
    font-size: 30px;
}
.play-title-container {
    text-align: right;
    
    
}
.play-game-picture {
    height: 570px;
}
.play-game-picture img {
    width: 500px;
}
.play-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 30px;
    
    

}
.relative-position-img img {
    width: 300px;
}
.relative-position-img {
    position: relative;
    bottom: 300px;
    right: 140px;
   
}
/* grid section */
.grid-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px;
    
    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 30px;
    
}


.grid-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    background: #FFF;
    width: 243px;
    height: 80px;
}
.grid-img-container:hover .grid-text {
    color: #FF42A5;
}
.grid-img-container:hover {
    border: 1px solid #ff42a5;
}

.grid-text {
    color: #0B0223;    
    font-size: 0.8em;  
    font-weight: 600;
}

/* footer section */
footer {
    background: #0B0223;
    padding: 50px;
    
}
.footer-title h3 {
    color: #FFF;
}
.footer-title {
    width: fit-content;
    margin: auto;
}
.footer-list-content ul li {
    color: #FFF;
    font-size: 0.8em;
}
.footer-list-content {
    width: 600px;
    margin: auto;
}
.footer-list-content ul {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    list-style: none;
}
.footer-icon {
    margin-top: 40px;
    text-align: center;
}
.footer-icon img {
    height: 20px;
    margin-top: none;
    margin-right: 40px;
}
.terms-condition-list ul li{
    color: #FFF;
    font-size: 0.5em;
    
}
.terms-condition-list {
    text-align: center
}
.terms-condition-list {
    width: 400px;
    margin: auto;
}
.terms-condition-list ul {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    list-style: none;
}
.copyright p {
    font-size: 0.4em;
    color: #FFF;
}
.copyright {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 576px) {
    body {
        width: 105%;
        
    }
    nav,
    nav ul,
    .banner,
    .card-container,
    .we-are-gamer,
    .play-section,
    .copyright
    {
        flex-direction: column;
    }
    .banner-title {
        background-image: none;
        align-items: center;
    }
    .banner-title .btn-1 {
        padding: 20px;
    }
    .banner {
        margin-left: 100px;
    }
    .play-section {
        gap: 30px;
    }
    .play-title-container {
        margin-top: 0px;
        text-align: center;
    }
    .play-game-picture {
        height: 300px;
        width: 300px;
        margin-left: 100px;
    }
    .play-game-picture img {
        width: 300px;
        
    } 
    .relative-position-img img {
        width: 200px;
        height: 200px;
        position: relative;
        top: 130px;
        left: 50px;
    }

    .footer-list-content {
        width: 400px;
    }
    .footer-list-content ul {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }
    .terms-condition-list {
        width: 300px;
    }
    .terms-condition-list ul {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;

    }
    .we-are-gamer img {
        width: 100%;
        height: 200px;
    }
    .gamer-content {
        text-align: center;
        margin-left: 50px;
        padding-bottom: 50px;
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    
    }
    .grid-container {
        gap: 5px;
    }
    .grid-img-container {
        gap: 5px;
        width: 100px;
        height: 50px;
    }
    .grid-img-container img {
        width: 20px;
    }
    .grid-img-container .grid-text {
        font-size: 0.5em;
    }
    
}

