/* shared styles */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.primary-text {
    font-size: 0.8em;
}
.section-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 800;
}

/* nav styles */
.nav-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-title img {
    width: 40px;
    height: 30px;
}
.nav-title h3 span {
    color: #ff42a5;
}
.nav-content ul {
    display: flex;
    list-style: none;
    gap: 20px;
    
}
.nav-content li {
    color: #3C354F;
    font-size: 1.2em;
    font-weight: 500;
}
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
/* main section styles */
/* .banner-title{
    /* background-image: url(../images/Group\ 14.png);
    width: auto;
    height: 400px;
    flex-shrink: 0;
} */ 
.banner-title h2 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 800;
    
}
.banner-btn {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
}
.banner-btn .btn-1, .gamer-btn {
    border-radius: 48px;
    background: #FF42A5;
    border: none;
    padding: 21px 30px;
    color: #FFF;
    font-size: 0.8em;
    font-weight: 400;
}
.banner-btn .btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    padding: 21px 30px;
    color: #FFF;
    font-size: 0.8em;
    font-weight: 400;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}
.banner img {
    height: 400px;
}
/* we are gamer section */
.we-are-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 100px;
    text-align: right;
}
.we-are-gamer h5, h4 {
    margin-top: 5px;
    margin-bottom: 2px;
}

